include setmeup/dotfiles/.bash_profile
include setmeup/dotfiles/.bashrc
include setmeup/dotfiles/.condarc
include setmeup/dotfiles/.editorconfig
include setmeup/dotfiles/.gitconfig
include setmeup/dotfiles/.gitignore
include setmeup/dotfiles/.vimrc
